body {
  font-family: "Press Start 2P", cursive;
  background: url(img/8-bitBackground.png) no-repeat center fixed;
  background-size: cover;
}

.container {
  text-align: center;
  margin-top: 35px;
  min-height: calc(100vh - 55px);
}

.grid {
  background: url(img/snake-screen.png);
  background-size: cover;
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  margin: 0 auto;
}

.grid div {
  display: block;
  width: 20px;
  height: 20px;
}

h1 {
  margin-bottom: 15px;
  color: #c092ff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
h2 {
  font-size: 21px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.score {
  font-size: 15px;
}

.snake {
  background-image: url(img/snake.png);
  background-size: cover;
}

.heart {
  background-image: url(img/heart-8-bit.png);
  background-size: cover;
}

.start {
  font-size: 12px;
  padding: 8px 10px;
  font-family: "Press Start 2P", cursive;
  margin-top: 0;
  margin-bottom: 15px;
  border: 2px solid black;
  color: black;
  background-color: #fecca0;
  transition: all 100ms ease-in-out;
}

.start:hover {
  background-color: #f5c4ff;
  cursor: pointer;
}

.arrowsBtns {
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 50px;
}

.left,
.up,
.down,
.right {
  padding: 8px 18px;
  font-family: "Press Start 2P", cursive;
  border: 2px solid black;
  color: black;
  background-color: #fecca0;
  transition: all 100ms ease-in-out;
  margin: 0 11px;
}

.left {
  background: url(img/arrow-left.png) center;
  background-size: cover;
}

.up {
  background: url(img/arrow-up.png) center;
  background-size: cover;
}

.right {
  background: url(img/arrow-right.png) center;
  background-size: cover;
}

.down {
  background: url(img/arrow-down.png) center;
  background-size: cover;
}

.left:hover,
.up:hover,
.down:hover,
.right:hover {
  filter: hue-rotate(-110deg);
  cursor: pointer;
}

footer {
  font-size: 7.5px;
  text-align: center;
  color: black;
}

a {
  color: black;
  transition: all 50ms ease-in;
}

a:hover {
  color: #c092ff;
}

@media (max-width: 350px) {
  .grid {
    width: 300px;
    height: 300px;
  }
  .grid div {
    width: 15px;
    height: 15px;
  }
  .left,
  .up,
  .down,
  .right {
    padding: 12px 22px;
  }
}

@media (min-width: 350px) and (max-width: 400px) {
  .grid {
    width: 340px;
    height: 340px;
  }
  .grid div {
    width: 17px;
    height: 17px;
  }
  .left,
  .up,
  .down,
  .right {
    padding: 14px 24px;
  }

  .arrowsBtns {
    margin-top: 22px;
  }
}

@media (min-width: 400px) and (max-width: 600px) {
  .grid {
    width: 380px;
    height: 380px;
  }
  .grid div {
    width: 19px;
    height: 19px;
  }
  .left,
  .up,
  .down,
  .right {
    padding: 14px 24px;
  }

  .arrowsBtns {
    margin-top: 22px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 25px;
  }
  footer {
    font-size: 5.5px;
  }
}
