body {
  font-family: "Press Start 2P", cursive;
  background: url(img/8-bitBackground.png) no-repeat center fixed;
  background-size: cover;
}

.container {
  text-align: center;
  margin-top: 35px;
  min-height: calc(100vh - 55px);
}

.grid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  margin: 0 auto;
}

.grid div {
  display: block;
  width: 20px;
  height: 20px;
}

h1 {
  margin-bottom: 15px;
  color: #c092ff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
h2 {
  margin-bottom: 15px;
  margin-top: 15px;
}

.score {
  font-size: 15px;
}

.snake {
  background-image: url(img/snake.png);
  background-size: cover;
}

.apple {
  background-image: url(img/heart-8-bit.png);
  background-size: cover;
}

.start {
  font-size: 12px;
  padding: 8px 10px;
  font-family: "Press Start 2P", cursive;
  margin-top: 0;
  margin-bottom: 15px;
  border: 2px solid black;
  color: black;
  background-color: #fecca0;
  transition: all 100ms ease-in-out;
}

.start:hover {
  background-color: #ffdbbc;
}

footer {
  font-size: 7.5px;
  text-align: center;
  color: black;
}

a {
  color: black;
  transition: all 50ms ease-in;
}

a:hover {
  color: #c092ff;
}
